* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #845EC2;
}

header {
    padding: 20px 20px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Monument Extended';
    padding: 10px;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.fun-fact {
    display: flex;
    flex-direction: row;
}

img {
    display: inline-block;
    height: 30px;
    width: 45px;
    padding-right: 15px;
}

.user-name {
    padding-top: 6px;
}

.fun-fact-text{
    display: inline-block;
    padding-right: 20px;
    padding-top: 6px;
}

.fun-fact-gen {
    display: inline-block;
    padding: 5px;
    padding-top: 7px;
}


.question {
    height: 80vh;
    text-align: center;
    padding-top: 150px;
    font-family: 'Monument Extended';
    margin: 10px 20px;
}

.answer-container {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.answer {
    padding: 20px 20px;
    margin-bottom: 20px;
}

#answer-one{
    background: white;
}

#answer-two{
    background: rgb(254, 255, 254);
}
#answer-three{
    background: rgb(252, 252, 252);
}

button {
    font-family: 'Monument Extended';
    cursor: pointer;
    border-radius: 15px;
    border: none;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.3);
}


footer {
    position: relative;
    font-family: 'Monument Extended';
}

/* Footer */
footer {
    padding: 5px;
}
footer h1{
    font-size: 10px;
}

footer p {
    font-size: 9px;
}

footer a {
    text-decoration: none;
    color: teal;
}

/* Footer
footer{
    padding-bottom: 3px 3px;
}

footer a {
    text-decoration: none;
    color: teal;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.footer-info {
    padding: 10px;
    flex: 25%;
}

.footer-info h1{
    font-size: 14px;
    font-family: 'Apparel bold';
}

.footer-info p{
    font-size: 14px;
    font-family: 'Apparel light';
}

*/









@media (max-width: 800px) {
    .header-container {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 800px) {
    .fun-fact {
      padding-top: 20px;
      align-items: center;
    }
  }